.about-enterprise {

   padding: 0px 0px 80px 0px;

   &__title {
      margin: 0px 0px 32px 0px;
   }

   &__content {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -10px;
   }

   &__text {
      flex: 0 1 50%;
      margin: 0px 0px 24px 0px;
      padding: 0px 10px;
   }

   &__image {
      margin: 8px -10px 0px -10px;
      display: flex;
      justify-content: space-between;
   }
}

.block-images {
   &__image{
      padding: 0px 10px;
      flex: 0 1 50%; 
   }

   &__image img{
      max-width: 100%;
   }
}

//=============================

@media (max-width: 344.98px){
   .about-enterprise__content{
      flex-direction: column;
   }
   .about-enterprise__image{
      flex-direction: column;
      margin: 0px;
   }
   
   .block-images__image{
      margin: 0px 0px 32px 0px;
      padding: 0;
   }
}
